# SERVEUR
PORT=3000
NODE_ENV=development

# BASE DE DONNÉES MARIADB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=sticker_finder

# JWT
JWT_SECRET=change-moi-par-une-longue-chaine-aleatoire-de-plus-de-32-caracteres
JWT_EXPIRES_IN=7d